/* CONFIGURACIÓN GENERAL */
* {
  margin: 0;
  border: 0;
  padding: 0;
}

/* Navbar */
#navbar a {
  color: white;
  background-color: transparent;
}

.navbar img {
  margin-left: px;
  height: 40px;
}

.viajes-chile {
  margin-left: px;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #63b4b8;
  transition: 0.5s;
}

/* Quienes Somos */
#quienes-somos {
  background-color: black;
  color: white;
  text-align: center;
  padding: 90px;
}

#quienes-somos h5 {
  padding: 10px;
  font-style: bold;
  margin-bottom: 50px;
}

#que-hacemos p {
  text-align: left;
  padding: 10px;
}

#avion {
  background-color: #63b4b8;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
}

#montaña {
  background-color: #63b4b8;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
}

#ruta {
  background-color: #63b4b8;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
}

/* DESTACADOS */

#destacados {
  background-color: black;
  color: white;
  text-align: center;
  padding: 90px;
}

#destacado {
  padding: 10px;
  font-style: bold;
  margin-bottom: 50px;
}

.card-body {
  background-color: #63b4b8;
}

#bosque {
  color: white;
  text-align: left;
}

#planicie {
  color: white;
  text-align: left;
}

#lago {
  color: white;
  text-align: left;
}

#patagonia {
  color: white;
  text-align: left;
}

/* DESTACADOS */
#Contacto {
  background-color: black;
}

#Contacto h5 {
  color: white;
  text-align: center;
  padding: 80px;
}

#mensaje {
  color: white;
}

#electronico {
  color: white;
}

#nombre {
  color: white;
}

#boton {
  background-color: #63b4b8;
  border: 0;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* DESTACADOS */
#footer {
  background-color: #63b4b8;
  display: flex;
  justify-content: space-between;
}

#viajes-footer {
  color: white;
  font-size: 20px;
  padding-top: 10px;
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  list-style: none;
}

.red-social {
  font-size: 15px;
  margin: 10px;
  padding-top: 10px;
  display: flex;
}
