/* CONFIGURACIÓN GENERAL */
* {
  margin: 0;
  border: 0;
  padding: 0;
}

/* BODY */

/* body {
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; 
} */

/* HEADER */
/* SECCION 1 */

/* FOOTER */
